body
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-list
{
  display: none;
}

@media screen and (min-width: 769px) {
  .navbar-list {
    display: block;
  }
}

.nav-burger
{
  display: block;
}

@media screen and (max-width: 769px) {
  .nav-burger {
    display: none;
  }
}

.logo-div
{
  position: absolute;
  top: 5px;
  left: 5px;
}

.logo-img
{
  size
}

header
{
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1em;
  font-weight: 400;
}

span
{
  font-size: 3em;
  color: #ecd444;
  font-weight: bolder;
}

.navbar-list
{
  align-self: flex-end;
}

nav
{
  width: auto;
}

nav ul
{
  display: flex;
}

nav li
{
  list-style-type: none;
  margin-right: 15px;
}

nav ul a
{
  text-decoration: none;
  color: #FFF;
}

nav li a:hover
{
  color: #ecd444;
  text-decoration: none;
}

header button
{
  justify-content: flex-end;
}

#header-btn
{
  color: #ecd444;
  font-size: 2em;
  margin-right: 20px;
  margin-left: 50px;
  display: flex;
}

.nav-burger
{
  display: block;
  border: 0;
  margin: 10px;
}

.background-img-index
{
  background-image: url("assets/img/womancoding.png");
  width: 100%;
  height: 600px;
  background-color: #ecd444;
  padding-bottom: 20px;
  position: absolute;
  z-index: -1;
}

.enter-index
{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

h1
{
  font-size: 2.5em;
  color: #FFF;
  font-weight: 800;
}

.enter-index h2
{
  font-size: 2em;
  color: #FFF;
  font-weight: 500;
}

input .search-bar
{
  justify-content: center;
}

.search-bar
{
  max-width: 70%;
  align-items: center;
  font-weight: 300;
}

main
{
  background-color: #ecd444;
}

h3
{
  font-size: 1.7em;
  font-weight: 500;
}

p
{
  font-size: 1.2em;
  font-weight: 400;
}

.card-deck
{
  background-color: #ecd444;
}

footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  text-align: center;
}

.middle a
{
  text-decoration: none;
  color: #FFF;
}

.reseaux i
{
  font-size: 1.5em;
  color: #FFF;
}

.reseaux a i:hover
{
  color: #ecd444;
}
