/* Couleurs :
blanc : #eff8e2
jaune : #ecd444
bleu : #119DA4
gris : #353b48

font-size / weight :
h1 : 2.5em / 800
h2 : 1.8em / 500
h3 : 1.7 / 500
p : 1.2 / 400
*/

body
{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ecd444;
}

/* Responsive menu */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1100px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px){
  .navbar-list {
    display: block;
  }
  .nav-burger-container {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .navbar-list {
    display: block;
  }
  .nav-burger-container {
    display: none;
  }
}

/* ---------------------------------- */

/* Header */

.logo-div
{
  position: absolute;
  top: 5px;
  left: 5px;
}

header
{
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: #eff8e2;
  font-size: 1em;
  font-weight: 400;
}

span
{
  font-size: 3em;
  color: #ecd444;
  font-weight: bolder;
}

.navbar-list
{
  align-self: flex-end;
}

nav
{
  width: auto;
}

nav ul
{
  display: flex;
}

nav li
{
  list-style-type: none;
  margin-right: 15px;
}

nav ul a
{
  text-decoration: none;
  color: #FFF;
}

nav li a:hover
{
  color: #ecd444;
  text-decoration: none;
}

.header-btn
{
  display: flex;
  justify-content: flex-end;
}

.bottom-align
{
  font-size: 2em;
  margin-left: 40px;
  margin-top: 40px;
  align-items: flex-end;
}

.header-btn p i
{
  color: #ecd444;
}

.nav-burger
{
  display: block;
  border: 0;
  margin: 10px;
  align-self: flex-end;
}

/* Bannière index */

/* .bg-img avant appliqué sur p container img
{
  height: 600px;
} */

.banniere-index
{
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.titre1
{
  width: 100%;
  position: absolute;
  top: 250px;
  text-align: center;
  font-size: 2.8em;
  color: #119DA4;
  font-weight: 800;
}

.titre2
{
  width: 100%;
  position: absolute;
  top: 320px;
  text-align: center;
  font-size: 1.8em;
  color: #eff8e2;
  font-weight: 500;
}

/* search bar */
.searchbar
{
position: absolute;
top: 420px;
margin-bottom: auto;
margin-top: auto;
height: 60px;
background-color: #119DA4;
border-radius: 30px;
padding: 10px;
}

.search_input
{
color: #eff8e2;
border: 0;
outline: 0;
background: none;
width: 0;
caret-color: transparent;
line-height: 40px;
transition: width 0.4s linear;
}

.searchbar:hover > .search_input
{
padding: 0 10px;
width: 450px;
caret-color: #ecd444;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon
{
background: #eff8e2;
color: #119DA4;
}

.search_icon
{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color: #eff8e2;
text-decoration:none;
}

main
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #ecd444;
}

.card
{
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-body
{
  background-color: #119DA4;
  border-radius: 0px 0px 20px 20px;
  color: #eff8e2;
  text-align: center;
}

.btn-yellow
{
  background-color: #ecd444;
  color: #eff8e2;
}

h3
{
  font-size: 1.7em;
  font-weight: 500;
}

p
{
  font-size: 1.2em;
  font-weight: 400;
}

footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: bottom;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

footer p
{
  color: #eff8e2;
  font-size: 1em;
}

.middle a
{
  text-decoration: none;
  color: #eff8e2;
}

.reseaux i
{
  font-size: 1.5em;
  color: #eff8e2;
}

.reseaux a i:hover
{
  color: #ecd444;
}

/* CSS connexion.html */

.div-connect-form
{
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: flex-end;
}
.connect-form
{
}

.form-group
{
}

/* CSS communaute.html */

.banniere
{
  display: flex;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
  background-image: url("assets/img/joincommunity2.png");
}

.banniere img
{
  width: 60%;
  height: auto;
  margin-left: 40px;
}

.banniere h1
{
  font-size: 2.5em;
  font-weight: 800;
}

.banniere h2
{
  font-size: 1.8em;
  font-weight: 500;
}

.com-profil
{
  width: 50%;
  background-color: #ecd444;
  display: flex;
  flex-direction: column;
}

.position-relative
{
  justify-content: center;
}

.com-profil img
{
  width: 20%;
  margin-right: 20px;
}

.descriptif-profil h3
{
  font-size: 1.2em;
  font-weight: 600;
  color: #119DA4;
}

.descriptif-profil p
{
  font-size: 1em;
  font-weight: 400;
}

.descriptif-profil a
{
  color: #119DA4;
  font-weight: bold;
  text-decoration: none;
}
.descriptif-profil button
{
  background-color: #119DA4;
  border: none;
  position: absolute;
  left: 25px;
  bottom: 15px;
  margin-top: 20px;
}

.descriptif-profil button a
{
  color: #eff8e2;
  text-decoration: none;
}

/* Notation étoile */

.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.gold {
	color: #ffdc0f;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  margin-top: 20px;
}

.stars {
  display: inline-flex;
  justify-content: flex-start;
  font-size: 1em;
}

.stars:hover .fa-star {
  color: #ffdc0f;
}

.stars .fa-star:hover ~ .fa-star {
  color: gray;
}
