/* Couleurs :
blanc : #eff8e2
jaune : #ecd444
bleu : #119DA4
bleu foncé : #030027
gris : #353b48

font-size / weight :
h1 : 2.7vw / 800
h2 : 2.4vw / 500
h3 : 1.7vw / 500
h4 : 1.7vw / 500
p : 1.4vw / 400
*/
*
{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body
{
    width: 100%;
    background-color: #ecd444;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
}

/* Responsive menu */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1100px){
  .navbar-list {
    display: none;
  }
  .nav-burger-container {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px){
  .navbar-list {
    display: block;
  }
  .nav-burger-container {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .navbar-list {
    display: block;
  }
  .nav-burger-container {
    display: none;
  }
}

/* ---------------------------------- */

/* Header */

.logo-div
{
  position: absolute;
  top: 5px;
  left: 5px;
}

header
{
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: #eff8e2;
  font-size: 1em;
  font-weight: 400;
}

span
{
  font-size: 3em;
  color: #ecd444;
  font-weight: bolder;
}

.navbar-list
{
  align-self: flex-end;
}

nav
{
  width: auto;
}

nav ul
{
  display: flex;
}

nav li
{
  list-style-type: none;
  margin-right: 15px;
}

nav ul a
{
  text-decoration: none;
  color: #FFF;
}

nav li a:hover
{
  color: #ecd444;
  text-decoration: none;
}

.header-btn
{
  display: flex;
  justify-content: flex-end;
}

.bottom-align
{
  font-size: 2em;
  margin-left: 40px;
  margin-top: 40px;
  align-items: flex-end;
}

.header-btn p i
{
  color: #ecd444;
}

.nav-burger
{
  display: block;
  border: 0;
  margin: 10px;
  align-self: flex-end;
}

/* Footer */

footer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  position: absolute;
  width: 100%;
}

footer p
{
  color: #eff8e2;
  font-size: 1em;
}

/* Bannière index */

/* .bg-img avant appliqué sur p container img
{
  height: 600px;
} */

.banniere-index
{
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.titre1
{
  width: 100%;
  position: absolute;
  top: 250px;
  text-align: center;
  font-size: 2.8em;
  color: #119DA4;
  font-weight: 800;
}

.titre2
{
  width: 100%;
  position: absolute;
  top: 320px;
  text-align: center;
  font-size: 1.8em;
  color: #eff8e2;
  font-weight: 500;
}

/* search bar */
.searchbar
{
position: absolute;
top: 420px;
margin-bottom: auto;
margin-top: auto;
height: 60px;
background-color: #119DA4;
border-radius: 30px;
padding: 10px;
}

.search_input
{
color: #eff8e2;
border: 0;
outline: 0;
background: none;
width: 0;
color: transparent;
line-height: 40px;
transition: width 0.4s linear;
}

.searchbar:hover > .search_input
{
padding: 0 10px;
width: 450px;
color: #eff8e2;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon
{
background: #eff8e2;
color: #119DA4;
}

.search_icon
{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color: #eff8e2;
text-decoration:none;
}

main
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #ecd444;
}

.card
{
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-body
{
  background-color: #119DA4;
  border-radius: 0px 0px 20px 20px;
  color: #eff8e2;
  text-align: center;
}

.btn-yellow
{
  background-color: #ecd444;
  color: #eff8e2;
}

h3
{
  font-size: 1.7em;
  font-weight: 500;
}

p
{
  font-size: 1.2em;
  font-weight: 400;
}

.middle a
{
  text-decoration: none;
  color: #eff8e2;
}

.reseaux i
{
  font-size: 1.5em;
  color: #eff8e2;
}

.reseaux a i:hover
{
  color: #ecd444;
}

/* CSS connexion.html */

.div-connect-form
{
  width: 60%;
}

.connect-form
{
  display: flex;
  flex-direction: column;
}

.form-control
{
  justify-content: center;
}


/* CSS communaute.html */

.banniere
{
  display: flex;
  text-align: right;
  margin: 4% 4%;
  justify-content: center;
}

.banniere img
{
  width: 45%;
  height: auto;
}

.banniere h1
{
  font-size: 2.5em;
  font-weight: 800;
  padding-bottom: 3%;
}

.banniere h2
{
  font-size: 1.8em;
  font-weight: 500;
  padding-bottom: 3%;
}

.com-profil
{
  width: 50%;
  background-color: #ecd444;
  display: flex;
  flex-direction: column;
}

.position-relative
{
  justify-content: center;
}

.com-profil img
{
  width: 20%;
  margin-right: 20px;
}

.descriptif-profil h3
{
  font-size: 1.2em;
  font-weight: 600;
  color: #119DA4;
}

.descriptif-profil p
{
  font-size: 1em;
  font-weight: 400;
}

.descriptif-profil a
{
  color: #eff8e2;
  font-weight: normal;
  text-decoration: none;
}

.descriptif-profil button
{
  background-color: #119DA4;
  border: none;
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin-top: 20px;
}

.descriptif-profil button:hover
{
  background-color: #ecd444;
  color: #119DA4;
}

/* Notation étoile */

.row {
  text-align: center;
  justify-content: flex-end;
  margin-right: 15px;
}

.fichecommunaute {
  display: inline-block;
  margin-top: 20px;
  padding: 0;
  border: none;
  align-self: flex-end;
}

.rate input {
  display: none;
}

label {
  float: right;
  font-size: 0;
  color: #d9d9d9;
}

label:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 20px;
}

label:hover,
label:hover ~ label {
  color: #f6c82c;
  transition: 0.2s;
}

.rate input:checked ~ label {
  color: #f6c82c;
}

.rate input:checked ~ label:hover,
.rate input:checked ~ label:hover ~ label {
  color: #FFED85;
  transition: 0.2s;
}


/* CSS espace-pro.html */
.pro-img
{
  width: 80% !important;
}

.title h1
{
  color: #119DA4;
  font-size: 2.7vw;
  font-weight: 800;
  margin-top: 3%;
  margin-bottom: 3%;
}

.title h2
{
  color: #353b48;
  font-size: 2.3vw;
  font-weight: 500;
  margin-bottom: 5%;
}

.btn-blue
{
  background-color: #119DA4;
  color: #eff8e2;
  border: none;
  text-decoration : none;
}

.btn-blue a
{
  color: #eff8e2;
  font-size: 1.3vw;
  font-weight: 500;
}

.btn-blue :hover
{
  color: #212529;
  text-decoration: none;
}

.creer-profil
{
  display: flex;
  margin-top: 4%;
  margin-bottom: 5%;
  width: 100%
}

.creer-profil-text
{
  margin-left: 10%;
  margin-right: 5%;
}

.creer-profil-text ul
{
  margin-left: 5%;
}

.creer-profil-img
{
  justify-content: center;
  margin-right: 10%;
}

.creer-profil-text h3
{
  font-size: 1.8vw;
  font-weight: 600;
  color: #119DA4;
}

.composer-equipe
{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.composer-equipe-img
{
  margin-left: 10%;
  margin-right: 5%;
}

.composer-equipe-text ul
{
  margin-left: 5%;
}

.composer-equipe-text
{
  margin-right: 10%;
}

.composer-equipe-text h3
{
  font-size: 1.8vw;
  font-weight: 600;
  color: #119DA4;
}

.join-community
{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.join-community-text
{
  margin-left: 10%;
  margin-right: 5%;
}

.join-community-text ul
{
  margin-left: 5%;
}

.join-community-text h3
{
  font-size: 1.8vw;
  font-weight: 600;
  color: #119DA4;
}

.join-community-img
{
  margin-right: 10%;
}

/* CSS profil-dev.html */

/* En-tête */
.bloc-page
{
  display: flex;
  justify-content: center;
}

.cv-page
{
  display: flex;
  flex-direction: column;
  background-color: #eff8e2;
  width: 80%;
  padding-bottom: 1%;
}

.en-tete
{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-column-gap: 4%;
  background-color: #030027;
  padding: 1.5% 1.5%;
}

.en-tete img
{
  width: 80%;
  justify-self: center;
  align-self: center;
}

.presentation h2
{
  color: #eff8e2;
  font-size: 2.4vw;
  font-weight: bold;
}

.presentation h3
{
  color: #eff8e2;
  font-size: 1.7vw;
  font-weight: 400;
}

.presentation p
{
  color: #eff8e2;
  font-size: 1.4vw;
  font-weight: 400;
}

.contact
{
  display: grid;
}

.contact-btn
{
  width: 70%;
  height: 50%;
  justify-self: center;
  align-self: center;
}

.stars-ficheprofil
{
  justify-self: center;
  align-self: center;
}

/* Réalisations */
.realisations
{
  margin-top: 6%;
  margin-bottom: 3%;
}

.realisations h4
{
  color: #030027;
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: 3%;
  text-align: center;
}

.carousel-control-prev-icon
{
  background-color: black;
  background-size: 15px 15px;
}

.carousel-control-next-icon
{
  background-color: black;
  background-size: 15px 15px;
}

/* Compétences */
.row-blocs
{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.competences
{
  background-color: #030027;
  width: 30%;
  height: auto;
}

.competences h4
{
  font-size: 1.7vw;
  font-weight: bold;
  color: #eff8e2;
  padding-bottom: 2%;
}

.competences ul
{
  margin-left: 10%;
}

.competences li
{
  color: #eff8e2;
  font-size: 1.1em;
}

/* Témoignages */
.temoignages
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  grid-column-gap: 7%;
  width: 60%;
  height: auto;
  background-color: #030027;
  width: 65%;
  padding: 0px 3% 0px 3%;
  justify-content: flex-end;
}

.temoignages h4
{
  font-size: 1.7vw;
  font-weight: bold;
  color: #eff8e2;
  padding-top: 3%;
  padding-bottom: 2%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.temoignages p
{
  color: #eff8e2;
  font-size: 1.4vw;
  line-height: 1.5em;
}

.temoignages span
{
  font-size: 1.7vw;
}

/* recruteur.html */
.hire-img
{
  width: 50% !important;
}

.services
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.services h3
{
  font-size: 2.5vw;
  font-weight: 600;
  width: 85%;
  margin-bottom: 3%;
  align-content: stretch;
  color: #030027;
}

.card-basic h4
{
  margin-top: 3%;
}

.card-premium h4
{
  margin-top: 3%;
}

.card-codevores h4
{
  margin-top: 2%;
}
